<html>
    <head>
        <title>LightPy</title>
        <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/main.css') }}"/>

        <script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/flatly/bootstrap.min.css"/>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/bootstrap-colorpicker.min.css')}}"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/bootstrap-clockpicker.min.css')}}"/>
        <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap-colorpicker.min.js')}}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap-clockpicker.min.js')}}"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-lg-1 col-md-1 col-centered">
                    <h1>LightPy</h1>
                </div>
            </div>

            {% block body %}{% endblock %}
        </div>

        {% block footer %}{% endblock %}

    </body>
</html>