{% extends "header.html" %}

{% block body %}

<div class="row">
    <div class="col-lg-1 col-xl-1 col-centered">
        <form class="form-horizontal" method="POST" action="{{ url_for('update_settings') }}">
            <fieldset>
                <div class="form-group">
                    <label for="inputBaseBright" class="col-lg-2 col-md-2 control-label">Base Brightness</label>
                    <div class="col-lg-10 col-md-10">
                        <input type="number" class="form-control" id="inputBaseBright" name="brightness" max="255" step="1" value="{{ brightness }}"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-10">
                        <input type="hidden" id="inputColor" name="activeColor"/>
                        <div id="cp1" class="inl-bl"></div>
                        <style>
                            .inl-bl {
                                display: inline-block;
                            }

                            .colorpicker-2x .colorpicker-saturation {
                                width: 200px;
                                height: 200px;
                            }

                            .colorpicker-2x .colorpicker-hue,
                            .colorpicker-2x .colorpicker-alpha {
                                width: 30px;
                                height: 200px;
                            }

                            .colorpicker-alpha {display:none !important;}

                            .colorpicker-2x .colorpicker-color,
                            .colorpicker-2x .colorpicker-color div {
                                height: 30px;
                            }
                        </style>
                        <script>
                            $(function() {
                                $('#cp1').colorpicker({
                                    color: 'rgb({{ red }},{{ green }},{{ blue }})',
                                    container: true,
                                    inline: true,
                                    customClass: 'colorpicker-2x',
                                    format: 'rgb',
                                    sliders: {
                                        saturation: {
                                            maxLeft: 200,
                                            maxTop: 200
                                        },
                                        hue: {
                                            maxTop: 200
                                        },
                                        alpha: {
                                            maxTop: 200
                                        }
                                    }
                                });
                            });
                        </script>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-10">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="inputManual" name="manual">Manual Override
                            </label>        
                        </div>
                    </div>
                </div>
                
                <div class="form-group">
                    <div class="col-lg-10">
                        <input type="submit" class="btn btn-primary btn-block" />
                    </div>
                </div>
            </fieldset>
        </form>
        
    </div>
    <div class="col-lg-1 col-xl-1 col-centered">
        <a href="{{ url_for('login') }}" class="btn btn-info btn-block">Advanced</a>
    </div>
    <div class="col-lg-1 col-xl-1 col-centered">
    </div>
</div>

{% endblock %}